@{
    if (!Roles.IsUserInRole("post"))
    {
        Response.Redirect("~/");
    }
    Layout = "~/_ScheduleLayout.cshtml";
    Page.Title = "Dang Tin";
    var db = Database.Open("HOME_PHUMY");
    string title = "";
    string description = "";
    string btnTitle = "Đăng tin";
    string id = "";
    string image = "";
    string content = "";
    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";
    string type = "";
    int feature = 0;
    if (IsPost)
    {
        string query = "";
        photo = WebImage.GetImageFromRequest("Image");
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" +
                Path.GetFileName(photo.FileName);
            imagePath = @"Images\bantin\" + newFileName;

            photo.Save(@"~\" + imagePath);
        }
        id = Request["id"];
        title = Request["title"];
        description = Request["description"];
        content = Request.Unvalidated("content");
        title = Request["title"];
        type = Request["type"];
        if(!string.IsNullOrEmpty(Request.Form["feature"])){
            feature = 1;
        }
        if (id == "")
        {
            query = @"INSERT INTO BanTinNoiBo(title,description,content,image,createdTime,type,feature) OUTPUT INSERTED.ID VALUES(@0,@1,@2,@3,@4,@5,@6)";
            db.Execute(query, title, description, content, newFileName, DateTime.Now.ToString(), type, feature);
            decimal insertedID = db.GetLastInsertId();
            WebCache.Set("showHotIcon", insertedID, 60 * 24 * 7);
            
            if (type == "tinnganhdien")
            {
                Response.Redirect("~/tinnganhdien");
            }
            else
            {
                Response.Redirect("~/tinnoibo");
            }
            
        }
        else
        {
            if(newFileName == "")
            {
                query = "UPDATE BanTinNoiBo SET title=@0, description=@1, content=@2, feature=@4 , updatedTime=@5 WHERE id = @3";
                db.Execute(query, title, description, content, id, feature, DateTime.Now);
            }
            else
            {
                query = "UPDATE BanTinNoiBo SET title=@0, description=@1, content=@2, image=@3, feature=@5, updatedTime=@6 WHERE id = @4";
                db.Execute(query, title, description, content, newFileName, id, feature, DateTime.Now);
            }
            Response.Redirect("~/chitiettin/" + id + "/" + type);
        }
    }
    else
    {
        if(UrlData[0] != "") // EDIT VIEW
        {
            btnTitle = "Cập nhật";
            id = UrlData[0];
            var rs = db.Query("SELECT * FROM BanTinNoiBo WHERE id = " + id);
            title = rs.ElementAt(0).title;
            description = rs.ElementAt(0).description;
            image = rs.ElementAt(0).image;
            content = rs.ElementAt(0).content;
            type = rs.ElementAt(0).type;
            feature = rs.ElementAt(0).feature != null ? rs.ElementAt(0).feature : 0;
        }

    }
}
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/CKFinderScripts/ckfinder.js"></script>
<link href="~/CSS/RegisterSchedule.css" rel="stylesheet" />
<div class="container">

    <h1 class="thick-heading">
        ||Đăng Bản Tin||
    </h1>

    <!-- First Featurette -->
    <div id="about">
        <!------------------------code---------------start---------------->
        <div class="row">
            <form role="form" method="post"  enctype="multipart/form-data">
                <div class="col-lg-10 col-lg-offset-1 bg-frm-register-schedule">
                    <div class="form-group">
                        <label>Loại tin</label>
                        <select name="type" class="form-control">
                            <option @(String.IsNullOrEmpty(type) ? "selected":"")  value="">Tin nội bộ</option>
                            <option @(type == "tinnganhdien" ? "selected":"") value="tinnganhdien">Tin ngành điện</option>
                        </select>
                    </div>

                     <div class="form-group">
                        <div class = "checkbox">
                            <label><input @(feature == 1 ? "checked":"")   name="feature" style="margin-top:2px;" type = "checkbox"> Tin nổi bật</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input class="form-control" name="title" value="@title">
                    </div>

                    <div>
                        <label for="description">Mô tả</label>
                        <textarea rows="5" cols="80" name="description" class="form-control" rows="2">@description</textarea>
                    </div>

                    <div class="form-group">
                        <br />
                        <label>Nội Dung</label>
                        <br />
                        <label>* Kích thước ảnh: 665 x 374</label>
                        <textarea id="editor1" rows="10" cols="80" name="content" class="form-control" rows="2" required>@content</textarea>
                    </div>
                    <script>
                        var editor = CKEDITOR.replace('editor1');
                        CKFinder.setupCKEditor(editor);
                    </script>
                    <div class="form-group">
                        <label>Hình đại diện (206 x 154)</label>
                        <input type="file" name="Image" /><br />
                        @if (image != "")
                        {
                            <img width="206" height="154" src="~/Images/bantin/@image" />
                        }
                        
                    </div>

                    <input type="hidden" name="id" value="@id" />
                    <input type="submit" name="submit" id="submit" value="@btnTitle" class="btn btn-danger pull-right">
                </div>
            </form>

        </div>


        <!----Code------end----------------------------------->

    </div>
</div>




</div>